<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tiny App</title>
</head>
<body>
  <%- include('partials/_header') %>
  <h2>Link Generated</h2>
    <ul>
      <li>Full Link</li>
        <ul>
          <li><%= urls[id] %></li>
        </ul>
      <li>Shortened URL</li>
        <ul>
          <li><%= id %></li>
        </ul>
    </ul>
    <form action="/urls/<%=id%>/update" method="POST" style="margin:10px;">
      <label for="newURL">Update your URL:</label>
      <input id="newURL" type="text" name="newURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Update">
    </form>
  <%- include('partials/_footer') %>
</body>
</html>
