<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <%- include('partials/_header') %>
  <% if (userObject === undefined) { %>
    <p>Please login or register first!</p>
  <% } %>
    <table class='table'>
      <tr>
        <th>Full URL</th>
        <th>Shortened URL</th>
        <th>Times Visited</th>
        <th>Generated On</th>
        <th>Options</th>
      </tr>
      <% for(let key in urls) { %>
        <tr>
          <td><%= urls[key].url %></td>
          <td><%= key %></td>
          <td><%= urls[key].count %></td>
          <td><%= urls[key].date %></td>
          <td>
            <a href='/urls/<%=key%>'>Edit</a>
            <form style="display: inline" method="POST" action='/urls/<%=key%>?_method=DELETE'>
            <input type='submit' value='Delete'>
            </form>
          </td>
        </tr>
      <% } %>
    </table>
  <%- include('partials/_footer') %>
</body>
</html>